<!DOCTYPE html>
<html lang="{{$lang}}">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YangRAM Administration Backstage</title>
    <link rel="stylesheet" type="text/css" href="{{$__lib__}}Tangram/tanguge/lib/dist/see/fa.css" />
    <link rel="stylesheet" type="text/css" href="{{$__lib__}}Tangram/tanguge/lib/dist/see/see.css" />
    <link rel="stylesheet" type="text/css" href="{{$__lib__}}Tangram/ai/css/action.css" />
    <link rel="stylesheet" type="text/css" href="{{$__lib__}}Tangram/ai/css/list.css" />
    <link rel="stylesheet" type="text/css" href="{{$__lib__}}Tangram/ai/css/table.css" />

    <script charset="UTF-8" src="{{$__lib__}}Tangram/tanguage/lib/dist/runtime.js" data-tangram-debug></script>
    <script charset="UTF-8" src="{{$__lib__}}Tangram/ai/js/action.js"></script>
    <script charset="UTF-8" src="{{$__lib__}}Tangram/ai/js/list.js"></script>
</head>

<body>
    <div class="action-container tangram-see">
        {{$__avmtabs}} {{$__avmtags}}
        <header class="listname"><strong>{{$listname}}</strong></header>
        {{$itemlist}} {{$pagelist}}
    </div>
</body>

</html>