<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>YangRAM Backstage</title>
    <link rel="stylesheet" type="text/css" href="{{$__lib__}}Tangram/Block.JS/src/see/fa.css">
    <link rel="stylesheet" type="text/css" href="{{$__lib__}}Tangram/Block.JS/src/see/see.css">
    <link rel="stylesheet" type="text/css" href="{{$__lib__}}Tangram/AdminSrc/css/login.css">
    <script src="{{$__lib__}}Tangram/Block.JS/src/block.js" use-debug-mode></script>
    <script src="{{$__lib__}}Tangram/AdminSrc/js/login.js"></script>
</head>

<body>
    <div class="login-form">
        <div class="head-info">
            <label class="lbl-1"> </label>
            <label class="lbl-2"> </label>
            <label class="lbl-3"> </label>
        </div>
        <div class="avtar">
            <img src="{{$__lib__}}Tangram/AdminSrc/img/avtar.png" />
        </div>
        <form>
            <input type="text" name="__api__" hidden value="{{$__api__}}">
            <input type="text" class="text" name="username" autocomplete="off" placeholder="username">
            <input type="password" name="password" autocomplete="new-password" placeholder="password">
            <input type="password" name="pincode" autocomplete="new-password" placeholder="pincode">
        </form>
        <div class="signin">
            <input type="submit" value="Login">
        </div>
    </div>
    <div class="copy-rights">
        <p>Copyright &copy; 2018.Company name All rights Tangram Co.,Ltd. <a href="http://www.yangram.com/" target="_blank" title="YangRAM I4s">YangRAM I4s</a></p>
    </div>
</body>

</html>