<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title id="title">{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="stylesheet/main.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="http://www.tanguage.js:94/lib/dist/see/see.css" />
    <script src="vue-dev/dist/vue.js"></script>
    <script src="vue-router-dev/dist/vue-router.js"></script>
    <script src="http://www.tanguage.js:94/lib/dist/runtime.js"></script>
</head>
<body>
<div id="popup" class="container fullscreen"><router-view></router-view></div>
    <div id="main" class="container fullscreen">
        <router-view></router-view>
        <nav id="nav">
            <ul>
                <li class="nav-item" v-for="tab in tabs">
                    <router-link :to="tab.path" class="nav-link"><i :class="tab.classname + ' icons-01'"></i>
                    <p>{{ tab.name }}</p></router-link>
                </li>
            </ul>
        </nav>
    </div>
    
    <script type="text/x-template" id="homeTemplate">
        <div class="container inner-container">
            <div class="home-top-bar"><a>&gt;{{ province.name }}</a><i></i></div>
            <div class="home-search-bar"><a href="#/search">SEARCH</a></div>
            <div class="home-classes"></div>
            <div class="home-main" v-if="list">
                <div class="home-tags">
                    <a v-for="tag in tags">{{ tag.name }}</a>
                </div>
                <div class="home-list">
                    <div class="home-project-item" v-for="item in list">
                        <h4 class="home-project--title">{{item.title}}</h4>
                        <p>{{item.starttime}} - {{item.deadtime}}<span>{{item.pubtime}}</span></p>
                        <i class="tag-item building expire"></i>
                    </div>
                </div>
            </div>
            <div class="home-main empty" v-else>抱歉，尚没有该地区的工程被收录</div>
        </div>
    </script>
    <script type="text/x-template" id="projectTemplate">
        <div>project</div>
    </script>
    <script type="text/x-template" id="circleTemplate">
        <div>circle</div>
    </script>
    <script type="text/x-template" id="mineTemplate">
        <div>mine</div>
    </script>
    <script type="text/x-template" id="searchTemplate">
        <div>search</div>
    </script>
    <script src="script/provinces.js"></script>
    <script src="script/main.js"></script>
</body>
</html>