<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{$__lib__}}Tangram/tangram.js/src/see/fa.css">
    <link rel="stylesheet" type="text/css" href="{{$__lib__}}Tangram/tangram.js/src/see/see.css">
    <link rel="stylesheet" type="text/css" href="{{$__lib__}}Tangram/ai/css/action.css">
    <link rel="stylesheet" type="text/css" href="{{$__lib__}}Tangram/ai/css/list.css">
    <link rel="stylesheet" type="text/css" href="{{$__lib__}}Tangram/ai/css/table.css">

    <script src="{{$__lib__}}Tangram/tangram.js/src/tangram.js" use-debug-mode></script>
    <script src="{{$__lib__}}Tangram/ai/js/action.js"></script>
    <script src="{{$__lib__}}Tangram/ai/js/list.js"></script>
</head>

<body>
    <div class="action-container">
        {{$__avmtabs}} {{$__avmtags}}
        <header class="listname"><strong>{{$listname}}</strong></header>
        {{$itemlist}} {{$pagelist}}
    </div>
</body>

</html>