@charset "utf-8";

/*********************************************
 ********** tangram.js SEE UI framework **********
 **********   class _.see.NavMenu   **********
 *********************************************/

@import "postion";
@import "align";
@import "colors";
body.__while-menu-item-get-size-step1 {
    .tangram.navmenu .menu-item.hasson>.submenu {
        display: block !important;
        opacity: 0 !important;
    }
}