/*
 * OIML Blocks
 */

.tangram.listview.blocks {
    max-width: 1080px;
    padding: 50px;
    margin: auto;
    .list-item {
        position: relative;
        width: 130px;
        height: 150px;
        padding: 30px 25px;
        float: left;
        cursor: pointer;
        overflow: visible;
        .button-item {
            display: block;
            position: relative;
            width: 100%;
            height: 150px;
            background: #222222;
            box-shadow: 0px 0px 2px #111111;
            .titl {
                position: absolute;
                width: 100px;
                height: 36px;
                border-style: solid none;
                border-width: 2px 0px;
            }
            .titl {
                top: 40px;
                left: 15px;
                overflow: hidden;
                text-align: center;
                font-size: 24px;
                font-size: 1.2rem;
                line-height: 34px;
            }
            .icon {
                width: 130px;
                height: 100px;
                margin: 10px 0px;
                background-repeat: no-repeat;
            }
            .desc,
            .name {
                position: absolute;
                width: 120px;
                height: 30px;
                line-height: 30px;
                top: 120px;
                bottom: 0px;
                white-space: nowrap;
                font-size: 12px;
                font-size: 0.6rem;
            }
            .desc,
            .name {
                padding: 0px 5px;
                text-overflow: ellipsis;
                text-align: center;
            }
            .mask {
                position: absolute;
                width: 100px;
                height: 40px;
                opacity: 0;
                top: 40px;
                left: 15px;
            }
            .mask {
                transition: all ease .4s;
                z-index: 100;
            }
            .titl {
                border-color: #FFF;
                color: #FFF;
            }
            .name {
                color: #FFF;
                background-color: rgba(255, 255, 255, .1);
            }
            .desc,
            .mask {
                background: #FFF;
            }
        }
        .button-item:hover {
            box-shadow: 0px 0px 20px #666666;
            .mask {
                opacity: .1;
                width: 130px;
                height: 120px;
                top: 0px;
                left: 0px;
            }
        }
    }
}

.tangram.listview.blocks.darkpurple .list-item .button-item {
    background: #6D196D;
    box-shadow: 0px 0px 2px #660066;
}

.tangram.listview.blocks.datered .list-item .button-item {
    background: #b2212f;
    box-shadow: 0px 0px 2px #660000;
}

.tangram.listview.blocks.magenta .list-item .button-item {
    background: #df226e;
    box-shadow: 0px 0px 2px #660022;
}

.tangram.listview.blocks.azure .list-item .button-item {
    background: #1ba6ea;
    box-shadow: 0px 0px 2px #002266;
}