* {
    margin: 0;
    padding: 0;
    border: none;
}

html {
    font-size: 125%;
}

body {
    font-size: 14px;
    font-size: 0.7rem;
}

.tangram-addin-map {
    box-sizing: border-box;
    width: 100%;
    min-width: 320px;
    height: 100%;
    min-height: 240px;
    border: #ccc solid 0px;
    margin: auto;
}

.tangram-addin-map #platform div {
    overflow: visible;
}

.tangram-addin-map #platform span {
    overflow: visible;
}

.tangram-addin-map img {
    max-width: none !important;
    max-height: none !important;
}

.tangram-addin-map .iw_poi_title {
    color: #CC5522;
    font-size: 14px;
    font-size: 0.7rem;
    font-weight: bold;
    overflow: hidden;
    padding-right: 13px;
    white-space: nowrap
}

.tangram-addin-map .iw_poi_content {
    font: 12px arial, sans-serif;
    overflow: visible;
    padding-top: 4px;
    white-space: -moz-pre-wrap;
    word-wrap: break-word
}