.action-container {
    display: block;
    min-width: 860px;
    margin: 40px 30px 70px;
    line-height: 30px;
    color: #666;
    z-index: 0;
}

.action-container header.formname {
    display: block;
    font-weight: bold;
    font-size: 21px;
    border-bottom: solid 1px #ccc;
    color: #999;
}

.action-container header.formname strong {
    display: inline-block;
    line-height: 36px;
    border-bottom: solid 2px #ccc;
}

.action-container header.formname strong span,
.action-container header.formname strong a {
    display: inline-block;
    line-height: 14px;
    margin-left: 10px;
    font-size: 14px;
}

form div.inputs-section {
    margin: 10px 0;
    padding-bottom: 20px;
    border-top: solid 1px #e6e6e6;
}

form div.inputs-section:first-child {
    border-top: none;
}

form div.tangram-inputs {
    width: 860px;
}

form .custom-items textarea.high-edit-text-area {
    width: 100%;
    height: 360px;
    resize: vertical;
}

form .custom-items .edui-default .edui-editor {
    box-sizing: border-box;
    min-height: 300px;
    border: solid 1px #ddd;
    border-radius: 3px;
}

.action-buttons {
    position: fixed;
    width: 100%;
    padding: 0 4%;
    height: 64px;
    left: 0;
    bottom: 0;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.8);
    border-top: solid 1px rgba(73, 139, 234, 0.3);
    text-align: right;
    z-index: 999;
}

.action-buttons:hover {
    background-color: rgba(255, 255, 255, 1);
}

.action-buttons button {
    display: inline-block;
    padding: 3px 28px;
    height: 30px;
    line-height: 24px;
    margin: 16px 10px;
    border-radius: 18px;
    background-color: #498bea;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}

.action-buttons button:hover {
    background-color: #2058a7;
}

.action-timepicker {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    z-index: -1000;
}

#timepicker {
    position: absolute;
    width: 1000px;
    height: 310px;
    left: 50%;
    bottom: -320px;
    margin-left: -500px;
    background-color: rgba(255, 255, 255, 0.9);
    transition: bottom ease-in-out .3s;
}

.action-timepicker.on {
    opacity: 1;
    z-index: 1000;
}

.action-timepicker.on #timepicker {
    bottom: 0;
}

#edui_fixedlayer,
.edui-default,
.edui-dialog,
.edui-for-insertimage,
.edui-default,
.edui-state-centered {
    overflow: visible;
}