table.table-view {
    width: 100%;
    margin: 20px auto 10px;
    padding-bottom: 20px;
}

table.table-view tr td {
    font-weight: normal;
    font-size: 12px !important;
    text-align: center;
}

table.table-view tr td.__index {
    width: 50px;
}

table.table-view tr td.__ops {
    width: 120px;
}

table.table-view tr.tangram-creator td {
    font-size: 14px !important;
}