* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  position: relative;
  margin: 0;
  padding: 0;
  border: none; }

html {
  font-size: 125%; }

body {
  font-size: 14px;
  font-size: 0.7rem; }

.tangram-form {
  display: block;
  width: auto;
  height: auto;
  line-height: 0;
  font-size: 0;
  color: #666; }
  .tangram-form .inputs-section {
    min-width: 800px;
    margin: 10px 0;
    padding-bottom: 20px;
    border-top: solid 1px #e6e6e6; }
  .tangram-form .inputs-section,
  .tangram-form .inputs-section.on {
    display: block; }
  .tangram-form .inputs-section.off {
    display: none; }
  .tangram-form .inputs-section:first-child {
    border-top: none; }
  .tangram-form .tangram-inputs {
    display: block;
    min-height: 40px;
    padding-left: 120px;
    overflow: hidden; }
    .tangram-form .tangram-inputs > .input-label {
      display: block;
      position: absolute;
      width: 110px;
      top: 8px;
      left: 0;
      line-height: 24px;
      font-size: 14px;
      font-size: 0.7rem;
      text-align: right;
      overflow: hidden; }
    .tangram-form .tangram-inputs > font,
    .tangram-form .tangram-inputs > .input-tips {
      display: block;
      position: absolute;
      width: 30%;
      top: 8px;
      right: 0;
      line-height: 24px;
      font-size: 12px;
      font-size: 0.6rem;
      text-align: right;
      overflow: hidden; }
    .tangram-form .tangram-inputs > .input-tips.quater {
      width: 25%; }
    .tangram-form .tangram-inputs > .input-tips.half {
      width: 50%; }
    .tangram-form .tangram-inputs > input,
    .tangram-form .tangram-inputs > select,
    .tangram-form .tangram-inputs > textarea,
    .tangram-form .tangram-inputs > .input-area {
      width: 100%;
      margin: 8px 0; }
    .tangram-form .tangram-inputs > input.w24,
    .tangram-form .tangram-inputs > select.w24 {
      width: 24%; }
    .tangram-form .tangram-inputs > input.w30,
    .tangram-form .tangram-inputs > select.w30 {
      width: 30%; }
    .tangram-form .tangram-inputs > input.w48,
    .tangram-form .tangram-inputs > select.w48 {
      width: 48%; }
    .tangram-form .tangram-inputs > input.w68,
    .tangram-form .tangram-inputs > select.w68 {
      width: 68%; }
    .tangram-form .tangram-inputs > input.w72,
    .tangram-form .tangram-inputs > select.w72 {
      width: 72%; }
    .tangram-form .tangram-inputs input,
    .tangram-form .tangram-inputs select,
    .tangram-form .tangram-inputs textarea {
      padding: 0 5px;
      border: solid 1px #ddd;
      border-radius: 3px;
      background-color: transparent;
      line-height: 24px;
      font-family: inherit;
      font-size: 12px;
      font-size: 0.6rem;
      color: #666; }
    .tangram-form .tangram-inputs input,
    .tangram-form .tangram-inputs select {
      display: inline-block;
      height: 24px; }
    .tangram-form .tangram-inputs input[type=radio],
    .tangram-form .tangram-inputs input[type=checkbox] {
      vertical-align: middle;
      width: 20px;
      height: 14px;
      margin: 0 !important; }
    .tangram-form .tangram-inputs input.use-tp.datetime-item,
    .tangram-form .tangram-inputs input.use-tp.fulldate-item,
    .tangram-form .tangram-inputs input.use-tp.timeofday-item {
      cursor: pointer; }
    .tangram-form .tangram-inputs input[type=hidden],
    .tangram-form .tangram-inputs input[hidden] {
      display: none;
      width: 0;
      height: 0; }
    .tangram-form .tangram-inputs input.num-item,
    .tangram-form .tangram-inputs input[type=number] {
      text-align: right; }
    .tangram-form .tangram-inputs input[type=number] {
      padding: 0 10px; }
    .tangram-form .tangram-inputs textarea,
    .tangram-form .tangram-inputs textarea.text-area {
      height: 78px;
      resize: none; }
    .tangram-form .tangram-inputs textarea.long-item {
      height: 156px;
      resize: none; }
    .tangram-form .tangram-inputs textarea.high-item {
      height: 390px;
      resize: vertical; }
    .tangram-form .tangram-inputs .radios,
    .tangram-form .tangram-inputs .checkboxes {
      display: block;
      width: 100%;
      height: 40px; }
      .tangram-form .tangram-inputs .radios label,
      .tangram-form .tangram-inputs .radios .radio-label,
      .tangram-form .tangram-inputs .radios .checkbox-label,
      .tangram-form .tangram-inputs .checkboxes label,
      .tangram-form .tangram-inputs .checkboxes .radio-label,
      .tangram-form .tangram-inputs .checkboxes .checkbox-label {
        display: inline-block;
        margin: 8px 24px 0 0;
        line-height: 24px;
        font-size: 12px;
        font-size: 0.6rem;
        color: #999;
        font-style: normal; }
      .tangram-form .tangram-inputs .radios i,
      .tangram-form .tangram-inputs .checkboxes i {
        font-style: normal; }
      .tangram-form .tangram-inputs .radios input,
      .tangram-form .tangram-inputs .radios input[type=radio],
      .tangram-form .tangram-inputs .radios input[type=checkbox],
      .tangram-form .tangram-inputs .checkboxes input,
      .tangram-form .tangram-inputs .checkboxes input[type=radio],
      .tangram-form .tangram-inputs .checkboxes input[type=checkbox] {
        vertical-align: middle;
        width: 20px;
        height: 14px;
        margin: 0 !important; }
      .tangram-form .tangram-inputs .radios input:first-child,
      .tangram-form .tangram-inputs .checkboxes input:first-child {
        margin-left: 0; }
      .tangram-form .tangram-inputs .radios input:last-child,
      .tangram-form .tangram-inputs .checkboxes input:last-child {
        margin-right: 0; }
  .tangram-form .tangram-inputs.inline-inputs .inputs-line {
    display: block;
    width: 100%;
    height: 40px;
    border-bottom: solid 1px #eee; }
  .tangram-form .tangram-inputs.inline-inputs .inline-label {
    line-height: 24px;
    font-size: 12px;
    font-size: 0.6rem;
    color: #999;
    margin: 0 24px 0 0;
    font-style: normal; }
    .tangram-form .tangram-inputs.inline-inputs .inline-label i {
      font-style: normal; }
  .tangram-form .tangram-inputs.inline-inputs .inline-label:last-child {
    margin: 0; }
  .tangram-form .tangram-inputs.inline-inputs .radio-label,
  .tangram-form .tangram-inputs.inline-inputs .checkbox-label {
    display: inline-block;
    margin: 8px 24px 0 0;
    line-height: 24px;
    font-size: 12px;
    font-size: 0.6rem;
    color: #999;
    font-style: normal; }
    .tangram-form .tangram-inputs.inline-inputs .radio-label i,
    .tangram-form .tangram-inputs.inline-inputs .checkbox-label i {
      font-style: normal; }
    .tangram-form .tangram-inputs.inline-inputs .radio-label input,
    .tangram-form .tangram-inputs.inline-inputs .radio-label input[type=radio],
    .tangram-form .tangram-inputs.inline-inputs .radio-label input[type=checkbox],
    .tangram-form .tangram-inputs.inline-inputs .checkbox-label input,
    .tangram-form .tangram-inputs.inline-inputs .checkbox-label input[type=radio],
    .tangram-form .tangram-inputs.inline-inputs .checkbox-label input[type=checkbox] {
      vertical-align: middle;
      width: 20px;
      height: 14px;
      margin: 0 !important; }
  .tangram-form .tangram-inputs.inline-inputs .inputs-line + .inputs-line .radio-label,
  .tangram-form .tangram-inputs.inline-inputs .inputs-line + .inputs-line .checkbox-label {
    margin: 0 24px 0 0; }
  .tangram-form .tangram-inputs.inline-inputs .inputs-line:last-child {
    border-bottom: none; }
    .tangram-form .tangram-inputs.inline-inputs .inputs-line:last-child .radio-label,
    .tangram-form .tangram-inputs.inline-inputs .inputs-line:last-child .checkbox-label {
      margin-bottom: 8px; }
  .tangram-form .tangram-inputs.inline-inputs input,
  .tangram-form .tangram-inputs.inline-inputs select {
    width: 20%;
    margin: 8px 5px; }
  .tangram-form .tangram-inputs.inline-inputs input:first-child,
  .tangram-form .tangram-inputs.inline-inputs select:first-child {
    margin-left: 0; }
  .tangram-form .tangram-inputs.inline-inputs input:last-child,
  .tangram-form .tangram-inputs.inline-inputs select:last-child {
    margin-right: 0; }
  .tangram-form .tangram-inputs.inline-inputs input.num-item,
  .tangram-form .tangram-inputs.inline-inputs input[type=number] {
    width: 10%; }
  .tangram-form .tangram-inputs[data-type=hidden] {
    display: none;
    width: 0;
    height: 0; }

.tangram-form[data-type=tabs] .inputs-section.on {
  display: block; }

.tangram-form[data-type=tabs] .inputs-section,
.tangram-form[data-type=tabs] .inputs-section.off {
  display: none; }

.tangram-form[data-type=pages] .inputs-section {
  height: auto;
  margin: 10px auto;
  padding: 0 19px;
  border: #DDD 1px solid;
  background-color: #fff;
  padding-bottom: 19px; }

.tangram-form[data-type=pages] .tangram-inputs {
  height: auto;
  min-height: 30px;
  border-bottom: 1px #E6E6E6 solid; }
  .tangram-form[data-type=pages] .tangram-inputs > .input-label {
    height: 24px;
    top: 3px;
    background-color: #f9f9f9;
    line-height: 24px;
    color: #282828;
    font-size: 14px;
    font-size: 0.7rem;
    margin-right: 10px;
    text-align: center; }
  .tangram-form[data-type=pages] .tangram-inputs input,
  .tangram-form[data-type=pages] .tangram-inputs select,
  .tangram-form[data-type=pages] .tangram-inputs textarea {
    margin: 0;
    border: none;
    background-color: transparent;
    line-height: 30px;
    color: #555;
    font-size: 12px;
    font-size: 0.6rem;
    outline: none; }
  .tangram-form[data-type=pages] .tangram-inputs input,
  .tangram-form[data-type=pages] .tangram-inputs select {
    height: 30px;
    padding: 0; }
  .tangram-form[data-type=pages] .tangram-inputs select {
    appearance: none;
    -webkit-appearance: none; }
  .tangram-form[data-type=pages] .tangram-inputs .radios,
  .tangram-form[data-type=pages] .tangram-inputs .checkboxes {
    height: 30px; }

.tangram-form[data-type=pages] .tangram-inputs.inline-inputs .inputs-line {
  height: 30px;
  border-bottom: solid 1px #e6e6e6; }

.tangram-form[data-type=pages] .tangram-inputs.inline-inputs .inline-label {
  line-height: 30px; }

.tangram-form[data-type=pages] .tangram-inputs.inline-inputs .radio-label,
.tangram-form[data-type=pages] .tangram-inputs.inline-inputs .checkbox-label {
  margin: 0 24px 0 0;
  line-height: 30px; }
  .tangram-form[data-type=pages] .tangram-inputs.inline-inputs .radio-label > input,
  .tangram-form[data-type=pages] .tangram-inputs.inline-inputs .checkbox-label > input {
    width: 24px;
    margin: 3px 0; }

.tangram-form[data-type=pages] .tangram-inputs.inline-inputs .inputs-line:last-child {
  border-bottom: none; }
  .tangram-form[data-type=pages] .tangram-inputs.inline-inputs .inputs-line:last-child .radio-label,
  .tangram-form[data-type=pages] .tangram-inputs.inline-inputs .inputs-line:last-child .checkbox-label {
    margin: 0 24px 0 0; }

.tangram-form[data-type=pages] .tangram-inputs.inline-inputs input,
.tangram-form[data-type=pages] .tangram-inputs.inline-inputs select {
  margin: 0 5px; }

.tangram-form[data-type=pages] .tangram-inputs.inline-inputs input:first-child,
.tangram-form[data-type=pages] .tangram-inputs.inline-inputs select:first-child {
  margin-left: 0; }

.tangram-form[data-type=pages] .tangram-inputs.inline-inputs input:last-child,
.tangram-form[data-type=pages] .tangram-inputs.inline-inputs select:last-child {
  margin-right: 0; }

.tangram-form[data-type=pages] .tangram-inputs[data-type=primer],
.tangram-form[data-type=pages] .tangram-inputs[data-type=title],
.tangram-form[data-type=pages] .tangram-inputs[data-type=subtitle] {
  margin-left: 0;
  border-bottom: none; }
  .tangram-form[data-type=pages] .tangram-inputs[data-type=primer] > .input-label,
  .tangram-form[data-type=pages] .tangram-inputs[data-type=title] > .input-label,
  .tangram-form[data-type=pages] .tangram-inputs[data-type=subtitle] > .input-label {
    display: none; }
  .tangram-form[data-type=pages] .tangram-inputs[data-type=primer] input,
  .tangram-form[data-type=pages] .tangram-inputs[data-type=title] input,
  .tangram-form[data-type=pages] .tangram-inputs[data-type=subtitle] input {
    width: 100%; }

.tangram-form[data-type=pages] .tangram-inputs[data-type=primer] {
  padding: 5px 0px 4px;
  border-bottom: #EEE dashed 1px; }
  .tangram-form[data-type=pages] .tangram-inputs[data-type=primer] input {
    width: 100%;
    text-align: left;
    font-size: 18px;
    font-size: 0.9rem;
    line-height: 25px; }

.tangram-form[data-type=pages] .tangram-inputs[data-type=title] {
  padding: 10px 0; }
  .tangram-form[data-type=pages] .tangram-inputs[data-type=title] input {
    text-align: center;
    font-size: 24px;
    font-size: 1.2rem;
    line-height: 35px; }

.tangram-form[data-type=pages] .tangram-inputs[data-type=subtitle] {
  padding: 4px 0px 5px;
  border-top: #EEE dashed 1px; }
  .tangram-form[data-type=pages] .tangram-inputs[data-type=subtitle] input {
    text-align: right;
    font-size: 18px;
    font-size: 0.9rem;
    line-height: 25px; }

.tangram-form[data-type=pages] .tangram-inputs[data-type=blocks] {
  min-height: 60px;
  padding-left: 0; }
  .tangram-form[data-type=pages] .tangram-inputs[data-type=blocks] > .input-label {
    height: 27px;
    top: 0;
    margin-top: 3px;
    line-height: 27px;
    overflow: hidden; }
  .tangram-form[data-type=pages] .tangram-inputs[data-type=blocks] > font,
  .tangram-form[data-type=pages] .tangram-inputs[data-type=blocks] > .input-tips {
    height: 27px;
    top: 0;
    line-height: 27px; }
  .tangram-form[data-type=pages] .tangram-inputs[data-type=blocks] .inputs-line {
    border-top: solid 1px #eee;
    border-bottom: none; }
  .tangram-form[data-type=pages] .tangram-inputs[data-type=blocks] textarea {
    border: solid 1px #eee;
    margin-bottom: 8px; }

.tangram-form[data-type=pages] .tangram-inputs[data-type=tags]:last-child {
  height: 42px;
  margin: -1px -19px -19px -19px;
  padding: 0 20px 0 50px;
  background: url(images/tag-icon.jpg) no-repeat left;
  border-top: #DDD 1px solid;
  border-bottom: none; }
  .tangram-form[data-type=pages] .tangram-inputs[data-type=tags]:last-child input {
    margin: 6px 0; }

.tangram-form .tangram-inputs figure,
.tangram-form .tangram-inputs .figure-items,
.tangram-form .tangram-inputs .video-item {
  display: block;
  width: 100%;
  margin: 7px 0; }
  .tangram-form .tangram-inputs figure .pic-uploader,
  .tangram-form .tangram-inputs .figure-items .pic-uploader,
  .tangram-form .tangram-inputs .video-item .pic-uploader {
    display: block;
    width: 100% !important;
    height: 70px !important;
    padding: 19px;
    border: solid 1px #ddd;
    border-radius: 3px;
    overflow: hidden; }
    .tangram-form .tangram-inputs figure .pic-uploader input,
    .tangram-form .tangram-inputs .figure-items .pic-uploader input,
    .tangram-form .tangram-inputs .video-item .pic-uploader input {
      display: block;
      width: 100%;
      height: 30px;
      line-height: 30px;
      padding: 0 10px;
      border: solid 1px #ddd;
      border-radius: 3px; }
    .tangram-form .tangram-inputs figure .pic-uploader .pic-displayer,
    .tangram-form .tangram-inputs figure .pic-uploader .pic-mask,
    .tangram-form .tangram-inputs figure .pic-uploader .pic-bluemask,
    .tangram-form .tangram-inputs figure .pic-uploader .pic-changer,
    .tangram-form .tangram-inputs figure .pic-uploader input[type=file].pic-changer,
    .tangram-form .tangram-inputs figure .pic-uploader .pic-resetter,
    .tangram-form .tangram-inputs .figure-items .pic-uploader .pic-displayer,
    .tangram-form .tangram-inputs .figure-items .pic-uploader .pic-mask,
    .tangram-form .tangram-inputs .figure-items .pic-uploader .pic-bluemask,
    .tangram-form .tangram-inputs .figure-items .pic-uploader .pic-changer,
    .tangram-form .tangram-inputs .figure-items .pic-uploader input[type=file].pic-changer,
    .tangram-form .tangram-inputs .figure-items .pic-uploader .pic-resetter,
    .tangram-form .tangram-inputs .video-item .pic-uploader .pic-displayer,
    .tangram-form .tangram-inputs .video-item .pic-uploader .pic-mask,
    .tangram-form .tangram-inputs .video-item .pic-uploader .pic-bluemask,
    .tangram-form .tangram-inputs .video-item .pic-uploader .pic-changer,
    .tangram-form .tangram-inputs .video-item .pic-uploader input[type=file].pic-changer,
    .tangram-form .tangram-inputs .video-item .pic-uploader .pic-resetter {
      display: none; }
  .tangram-form .tangram-inputs figure .pic-uploader.actived,
  .tangram-form .tangram-inputs .figure-items .pic-uploader.actived,
  .tangram-form .tangram-inputs .video-item .pic-uploader.actived {
    box-sizing: content-box;
    text-align: center; }
    .tangram-form .tangram-inputs figure .pic-uploader.actived .pic-displayer,
    .tangram-form .tangram-inputs .figure-items .pic-uploader.actived .pic-displayer,
    .tangram-form .tangram-inputs .video-item .pic-uploader.actived .pic-displayer {
      display: block;
      max-width: 100%;
      max-height: 100%;
      margin: auto; }
    .tangram-form .tangram-inputs figure .pic-uploader.actived .pic-mask,
    .tangram-form .tangram-inputs .figure-items .pic-uploader.actived .pic-mask,
    .tangram-form .tangram-inputs .video-item .pic-uploader.actived .pic-mask {
      z-index: 10; }
    .tangram-form .tangram-inputs figure .pic-uploader.actived .pic-bluemask,
    .tangram-form .tangram-inputs .figure-items .pic-uploader.actived .pic-bluemask,
    .tangram-form .tangram-inputs .video-item .pic-uploader.actived .pic-bluemask {
      z-index: 30; }
    .tangram-form .tangram-inputs figure .pic-uploader.actived input,
    .tangram-form .tangram-inputs .figure-items .pic-uploader.actived input,
    .tangram-form .tangram-inputs .video-item .pic-uploader.actived input {
      display: none; }
    .tangram-form .tangram-inputs figure .pic-uploader.actived input[type=file],
    .tangram-form .tangram-inputs .figure-items .pic-uploader.actived input[type=file],
    .tangram-form .tangram-inputs .video-item .pic-uploader.actived input[type=file] {
      position: absolute;
      width: 0;
      height: 0;
      top: 0;
      left: 0;
      opacity: 0; }
    .tangram-form .tangram-inputs figure .pic-uploader.actived .pic-mask,
    .tangram-form .tangram-inputs figure .pic-uploader.actived .pic-changer,
    .tangram-form .tangram-inputs figure .pic-uploader.actived input[type=file].pic-changer,
    .tangram-form .tangram-inputs .figure-items .pic-uploader.actived .pic-mask,
    .tangram-form .tangram-inputs .figure-items .pic-uploader.actived .pic-changer,
    .tangram-form .tangram-inputs .figure-items .pic-uploader.actived input[type=file].pic-changer,
    .tangram-form .tangram-inputs .video-item .pic-uploader.actived .pic-mask,
    .tangram-form .tangram-inputs .video-item .pic-uploader.actived .pic-changer,
    .tangram-form .tangram-inputs .video-item .pic-uploader.actived input[type=file].pic-changer {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0; }
    .tangram-form .tangram-inputs figure .pic-uploader.actived .pic-bluemask,
    .tangram-form .tangram-inputs .figure-items .pic-uploader.actived .pic-bluemask,
    .tangram-form .tangram-inputs .video-item .pic-uploader.actived .pic-bluemask {
      display: block;
      position: absolute;
      width: 100%;
      height: 0;
      top: 100%;
      left: 0;
      background-color: #498bea; }
    .tangram-form .tangram-inputs figure .pic-uploader.actived .pic-changer,
    .tangram-form .tangram-inputs figure .pic-uploader.actived input[type=file].pic-changer,
    .tangram-form .tangram-inputs .figure-items .pic-uploader.actived .pic-changer,
    .tangram-form .tangram-inputs .figure-items .pic-uploader.actived input[type=file].pic-changer,
    .tangram-form .tangram-inputs .video-item .pic-uploader.actived .pic-changer,
    .tangram-form .tangram-inputs .video-item .pic-uploader.actived input[type=file].pic-changer {
      z-index: 20;
      cursor: pointer; }
    .tangram-form .tangram-inputs figure .pic-uploader.actived .pic-resetter,
    .tangram-form .tangram-inputs .figure-items .pic-uploader.actived .pic-resetter,
    .tangram-form .tangram-inputs .video-item .pic-uploader.actived .pic-resetter {
      display: block;
      position: absolute;
      width: 100%;
      height: 24px;
      left: 0;
      background-color: #498bea;
      line-height: 24px;
      text-align: center;
      color: #fff;
      font-style: normal;
      font-size: 12px;
      font-size: 0.6rem;
      opacity: 0;
      z-index: 100;
      cursor: pointer;
      transition: opacity ease-in-out .3s, top ease-in-out .3s; }
  .tangram-form .tangram-inputs figure .pic-uploader.actived:hover .pic-mask,
  .tangram-form .tangram-inputs .figure-items .pic-uploader.actived:hover .pic-mask,
  .tangram-form .tangram-inputs .video-item .pic-uploader.actived:hover .pic-mask {
    background-color: rgba(0, 0, 0, 0.3); }
  .tangram-form .tangram-inputs figure .pic-uploader.actived:hover .pic-resetter,
  .tangram-form .tangram-inputs .figure-items .pic-uploader.actived:hover .pic-resetter,
  .tangram-form .tangram-inputs .video-item .pic-uploader.actived:hover .pic-resetter {
    opacity: 1; }

.tangram-form .tangram-inputs figure .pic-uploader.actived,
.tangram-form .tangram-inputs .figure-items .pic-uploader.actived {
  display: inline-block;
  padding: 19px;
  border: solid 1px #ddd;
  border-radius: 3px;
  margin-right: 1%; }
  .tangram-form .tangram-inputs figure .pic-uploader.actived .pic-displayer,
  .tangram-form .tangram-inputs .figure-items .pic-uploader.actived .pic-displayer {
    top: 50%;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateY(-50%); }
  .tangram-form .tangram-inputs figure .pic-uploader.actived .pic-resetter,
  .tangram-form .tangram-inputs .figure-items .pic-uploader.actived .pic-resetter {
    top: 160px; }

.tangram-form .tangram-inputs figure .pic-uploader.actived,
.tangram-form .tangram-inputs figure .pic-uploader.actived[data-subtype=photo],
.tangram-form .tangram-inputs figure .pic-uploader.actived[data-subtype=photo3x2],
.tangram-form .tangram-inputs .figure-items .pic-uploader.actived,
.tangram-form .tangram-inputs .figure-items .pic-uploader.actived[data-subtype=photo],
.tangram-form .tangram-inputs .figure-items .pic-uploader.actived[data-subtype=photo3x2] {
  width: 180px !important;
  height: 120px !important; }

.tangram-form .tangram-inputs figure .pic-uploader.actived[data-subtype=photo2x3],
.tangram-form .tangram-inputs .figure-items .pic-uploader.actived[data-subtype=photo2x3] {
  width: 80px !important;
  height: 120px !important; }

.tangram-form .tangram-inputs figure .pic-uploader.actived[data-subtype=avatar],
.tangram-form .tangram-inputs figure .pic-uploader.actived[data-subtype=avatar1x1],
.tangram-form .tangram-inputs .figure-items .pic-uploader.actived[data-subtype=avatar],
.tangram-form .tangram-inputs .figure-items .pic-uploader.actived[data-subtype=avatar1x1] {
  width: 120px !important;
  height: 120px !important; }

.tangram-form .tangram-inputs figure .pic-uploader.actived[data-subtype=figure],
.tangram-form .tangram-inputs figure .pic-uploader.actived[data-subtype=figure4x3],
.tangram-form .tangram-inputs .figure-items .pic-uploader.actived[data-subtype=figure],
.tangram-form .tangram-inputs .figure-items .pic-uploader.actived[data-subtype=figure4x3] {
  width: 160px !important;
  height: 120px !important; }

.tangram-form .tangram-inputs figure .pic-uploader.actived[data-subtype=figure3x4],
.tangram-form .tangram-inputs .figure-items .pic-uploader.actived[data-subtype=figure3x4] {
  width: 90px !important;
  height: 120px !important; }

.tangram-form .tangram-inputs figure .pic-uploader.actived[data-subtype=banner],
.tangram-form .tangram-inputs .figure-items .pic-uploader.actived[data-subtype=banner] {
  width: 30% !important;
  height: 90px !important; }
  .tangram-form .tangram-inputs figure .pic-uploader.actived[data-subtype=banner] .pic-resetter,
  .tangram-form .tangram-inputs .figure-items .pic-uploader.actived[data-subtype=banner] .pic-resetter {
    top: 130px; }

.tangram-form .tangram-inputs figure .pic-uploader.actived[data-subtype=banner100],
.tangram-form .tangram-inputs .figure-items .pic-uploader.actived[data-subtype=banner100] {
  display: block;
  width: 100% !important;
  height: 120px !important;
  margin-right: 0; }

.tangram-form .tangram-inputs figure .pic-uploader.actived:hover .pic-resetter,
.tangram-form .tangram-inputs .figure-items .pic-uploader.actived:hover .pic-resetter {
  top: 136px; }

.tangram-form .tangram-inputs figure .pic-uploader.actived[data-subtype=banner]:hover .pic-resetter,
.tangram-form .tangram-inputs .figure-items .pic-uploader.actived[data-subtype=banner]:hover .pic-resetter {
  top: 106px; }

.tangram-form .tangram-inputs .video-item .pic-uploader.actived {
  display: block;
  padding: 0;
  border: 0;
  border-radius: 3px; }
  .tangram-form .tangram-inputs .video-item .pic-uploader.actived .pic-displayer {
    width: 100%;
    height: 100%; }
  .tangram-form .tangram-inputs .video-item .pic-uploader.actived .pic-resetter {
    top: 180px; }

.tangram-form .tangram-inputs .video-item .pic-uploader.actived:hover .pic-resetter {
  top: 156px; }

.tangram-form .tangram-inputs .video-item .pic-uploader.actived,
.tangram-form .tangram-inputs .video-item .pic-uploader.actived[data-subtype=video4x3] {
  width: 240px !important;
  height: 180px !important; }

.tangram-form .tangram-inputs .video-item .pic-uploader.actived[data-subtype=video16x9] {
  width: 320px !important;
  height: 180px !important; }

.tangram-form[data-type=pages] .tangram-inputs[data-type=blocks] figure,
.tangram-form[data-type=pages] .tangram-inputs[data-type=blocks] .figure-items,
.tangram-form[data-type=pages] .tangram-inputs[data-type=blocks] .video-item {
  margin: 0 0 7px; }
  .tangram-form[data-type=pages] .tangram-inputs[data-type=blocks] figure .pic-uploader.actived,
  .tangram-form[data-type=pages] .tangram-inputs[data-type=blocks] .figure-items .pic-uploader.actived,
  .tangram-form[data-type=pages] .tangram-inputs[data-type=blocks] .video-item .pic-uploader.actived {
    border-radius: 0; }

.tangram-form .tangram-inputs .custom-items {
  display: block;
  width: 100%;
  height: auto;
  margin: 7px 0;
  line-height: 24px;
  font-family: inherit;
  font-size: 12px;
  font-size: 0.6rem;
  color: #666; }
  .tangram-form .tangram-inputs .custom-items textarea.edit-text-area {
    width: 100%;
    height: 170px;
    resize: vertical; }
  .tangram-form .tangram-inputs .custom-items .tangram.simpleeditor {
    border: solid 1px #ddd;
    border-radius: 3px; }
    .tangram-form .tangram-inputs .custom-items .tangram.simpleeditor input[type=radio],
    .tangram-form .tangram-inputs .custom-items .tangram.simpleeditor input[type=checkbox] {
      width: 20px;
      height: 14px;
      margin: 0; }

.tangram-form[data-type=pages] .tangram-inputs[data-type=blocks] .custom-items {
  margin: 0 0 7px; }
  .tangram-form[data-type=pages] .tangram-inputs[data-type=blocks] .custom-items .tangram.simpleeditor {
    border-radius: 0; }
