/*** EDITOR TOOLBAR ICONS ***************************/

.tangram.se-tool .tangram.se-icon {
    display: block;
}

.tangram.se-icon:before {
    font-family: 'FontAwesome';
    font-style: normal;
    content: '\f042';
}


/* ------------------------- */

.bold .tangram.se-icon:before {
    content: '\f032';
}

.italic .tangram.se-icon:before {
    content: '\f033';
}

.underline .tangram.se-icon:before {
    content: '\f0cd';
}

.strikethrough .tangram.se-icon:before {
    content: '\f0cc';
}


/* --------------- */

.fontsize .tangram.se-icon:before {
    content: '\f034';
}

.forecolor .tangram.se-icon:before {
    content: '\f040';
}

.backcolor .tangram.se-icon:before {
    content: '\f14b';
}


/* --------------- */

.justifyleft .tangram.se-icon:before {
    content: '\f036';
}

.justifycenter .tangram.se-icon:before {
    content: '\f037';
}

.justifyright .tangram.se-icon:before {
    content: '\f038';
}

.justifyfull .tangram.se-icon:before {
    content: '\f039';
}


/* --------------- */

.insertunorderedlist .tangram.se-icon:before {
    content: '\f0ca';
}

.insertorderedlist .tangram.se-icon:before {
    content: '\f0cb';
}


/* --------------- */

.header .tangram.se-icon:before,
.h1 .tangram.se-icon:before,
.h2 .tangram.se-icon:before,
.h3 .tangram.se-icon:before,
.h4 .tangram.se-icon:before,
.h5 .tangram.se-icon:before,
.h6 .tangram.se-icon:before {
    content: '\f1dc';
}

.blockquote .tangram.se-icon:before {
    content: '\f10d';
}

.removeformat .tangram.se-icon:before {
    content: '\f12d';
}


/* --------------- */

.createlink .tangram.se-icon:before {
    content: '\f0c1';
}

.unlink .tangram.se-icon:before {
    content: '\f127';
}

.inserttable .tangram.se-icon:before {
    content: '\f0ce';
}


/* --------------- */

.insertfile .tangram.se-icon:before {
    content: '\f0c6';
}

.insertemoticon .tangram.se-icon:before {
    content: '\f118';
}

.insertvideo .tangram.se-icon:before {
    content: '\f03d';
}

.insertimage .tangram.se-icon:before {
    content: '\f03e';
}


/* --------------- */

.insertfragments .tangram.se-icon:before {
    content: '\f12e';
}
