<!DOCTYPE html>
<html lang="{{$lang}}">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YangRAM Administration Backstage</title>
    <link rel="stylesheet" type="text/css" href="{{$__lib__}}Tangram/tanguge/lib/dist/see/fa.css" />
    <link rel="stylesheet" type="text/css" href="{{$__lib__}}Tangram/tanguge/lib/dist/see/see.css" />
    <link rel="stylesheet" type="text/css" href="{{$__dir__}}css/areas.css" />
    <script charset="UTF-8" src="{{$__lib__}}Tangram/tanguage/lib/dist/runtime.js" data-tangram-debug></script>
    <script charset="UTF-8" src="{{$__lib__}}Tangram/ai/js/main.js"></script>
</head>

<body>
    <div id="area-main-container"><iframe id="area-main" width="100%" height="100%" src="{{__admindir__}}eyutouspider/a/areas-of-province/{{$province}}/"></iframe></div>
    <div id="area-menu-container"><iframe id="area-menu" width="100%" height="100%" src="{{__admindir__}}eyutouspider/a/province-links-for-areas/?selected={{$province}}"></iframe></div>
</body>

</html>