<!DOCTYPE html>
<html lang="{{$lang}}">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YangRAM Administration Backstage</title>
    <link rel="stylesheet" type="text/css" href="{{$__lib__}}Tangram/tanguage/lib/dist/see/fa.css" />
    <link rel="stylesheet" type="text/css" href="{{$__lib__}}Tangram/tanguage/lib/dist/see/see.css" />
    <link rel="stylesheet" type="text/css" href="{{$__dir__}}css/links.css" />
    <script charset="UTF-8" src="{{$__lib__}}Tangram/tanguage/lib/dist/runtime.js" data-tang-debug></script>
    <script charset="UTF-8" src="{{$__dir__}}js/links.js" data-tang-debug></script>
</head>

<body>
    <ul>
        <for $provinces as $code $province>
            <if $code=$selected>
                <li data-href="{{__admindir__}}eyutouspider/placeholder/publishers-of-province/{{$code}}/" class="selected">{{$province}}</li>
                <else/>
                <li data-href="{{__admindir__}}eyutouspider/placeholder/publishers-of-province/{{$code}}/" class="">{{$province}}</li>
            </if>

        </for>
    </ul>
</body>

</html>