<!DOCTYPE html>
<html lang="{{$lang}}">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YangRAM Administration Backstage</title>
    <link rel="stylesheet" type="text/css" href="{{$__lib__}}Tangram/tanguge/lib/dist/see/fa.css" />
    <link rel="stylesheet" type="text/css" href="{{$__lib__}}Tangram/tanguge/lib/dist/see/see.css" />
    <link rel="stylesheet" type="text/css" href="{{$__lib__}}Tangram/ai/css/action.css" />
    <script charset="UTF-8" src="{{$__lib__}}Tangram/tanguage/lib/dist/runtime.js" data-tangram-debug></script>
    <script charset="UTF-8" src="{{$__lib__}}Tangram/ai/js/action.js"></script>
</head>

<body>
    <div class="action-container">
        <h2>{{$province}}</h2>
        <div>
            <h4>{{$count}}个平台<i>+</i></h4>
            <ul>
                <for $publisher of $publishers>
                    <li>{{$publisher.name}}</li>
                </for>
            </ul>
        </div>
    </div>
</body>

</html>