@charset "utf-8";

/*********************************************
 ******** tangram.js SEE UI framework ********
 *********************************************/


/** Elements Initialization **/

@import "tags";

/** Display **/

@import "views";

/** Gradual **/


/** Compositions **/

@import "compositions";
@import "bgcolor";
@import "colors_and_fontSizes";

/** Basic Block **/

@import "boxsizes";
@import "grids";

/** Common Style Classes Initialization **/

@import "positions";

/** List **/

@import "list";
@import "table";

/* Widgets **/

@import "widgets";