@charset "UTF-8";

/*********************************************
 ******** tangram.js SEE UI framework ********
 **********  Class _.see.ScrollBar  **********
 *********************************************/

* {
    margin: 0;
    padding: 0;
    border: none;
}

html {
    font-size: 125%; // 现代浏览器（pc端默认为16px，125%即20pc）
}

body {
    font-size: 14px; // 传统浏览器（pc端14px，其他端不考虑）
    font-size: 0.7rem; // 现代浏览器（pc端根字号为20px，70%仍旧是14px）
}

.scroll-doc-container {
    position: relative;
    overflow: hidden;
    min-width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
}

.scroll-bar-vertical {
    position: absolute;
    width: 16px;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 10000;
}

.scroll-bar-horizontal {
    position: absolute;
    width: 100%;
    height: 16px;
    bottom: 0;
    left: 0;
    z-index: 10000;
}

@import "default-dark";
@import "default-light";
@import "weiming";
@import "dark";