@charset "UTF-8";

/*********************************************
 ******** tangram.js SEE UI framework ********
 **********   class _.see.NavMenu   **********
 *********************************************/

@import "postion";
@import "align";
@import "colors";
* {
    margin: 0;
    padding: 0;
    border: none;
}

html {
    font-size: 125%; // 现代浏览器（pc端默认为16px，125%即20pc）
}

body {
    font-size: 14px; // 传统浏览器（pc端14px，其他端不考虑）
    font-size: 0.7rem; // 现代浏览器（pc端根字号为20px，70%仍旧是14px）
}

body.__while-menu-item-get-size-step1 {
    .tangram.navmenu .menu-item.hasson>.submenu {
        display: block !important;
        opacity: 0 !important;
    }
}