<IfModule mod_rewrite.c>
  Options -Indexes +FollowSymlinks
  RewriteEngine On
  RewriteCond %{REQUEST_FILENAME} \/\.(DataFiles|Runtime|BEFOREBOOT).*$
  RewriteRule .* main.php?error=404 [NC,L]
  RewriteCond %{REQUEST_FILENAME} \/.+\.(ini|tmp|dat)$
  RewriteRule .* main.php?error=404 [NC,L]
  RewriteCond %{REQUEST_FILENAME} \/Users\/Public\/\..*$
  RewriteRule .* main.php?error=403 [NC,L]
  RewriteRule ^.*?users\/@(.*)$ main.php/applications/users/users/$1 [NC,QSA,PT,L]
  # RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^(.*)$ main.php/$1 [QSA,PT,L]
</IfModule>