<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="php-5.2.17" />
            <remove name="php-nts-5.3.9" />
            <remove name="php-nts-5.4.9" />
            <remove name="php-nts-5.5.9" />
            <remove name="php-nts-5.6.9" />
            <remove name="php-nts-7.1.5" />
            <add name="php-nts-5.3.9" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="D:\Tools\PHPWAMP_IN1\phpwamp\server\php-nts-5.3.9\php-cgi.exe" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
        <rewrite>
            <rules>
                <rule name="Main Rule" stopProcessing="true">
                    <match url="^.*" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="boot.php/{R:0}" />
                </rule>
            </rules>
        </rewrite>
        <defaultDocument>
            <files>
                <clear />
                <add value="boot.php" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>