<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <remove name="Dirs Protecting"/>
                <remove name="File Protecting"/>
                <remove name="Data Protecting"/>
                <remove name="User Protecting"/>
                <remove name="YangRAM Rule"/>
                <rule name="Dirs Protecting" stopProcessing="true">
                    <match url="^Users\/Public\/\..*$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="boot.php?error=403" />
                </rule>
                <rule name="File Protecting" stopProcessing="true">
                    <match url="^.+\.(ini|tmp|dat)$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="boot.php?error=404" />
                </rule>
                <rule name="Data Protecting" stopProcessing="true">
                    <match url="^\.(DataFiles|Runtime|BEFOREBOOT).*$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="boot.php?error=404" />
                </rule>
                <rule name="User Protecting" stopProcessing="true">
                    <match url="^.*?Users\/@(.*)$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="boot.php/applications/users/users/{R:1}" />
                </rule>
                <rule name="YangRAM Rule" stopProcessing="true">
                    <match url="^(.*)$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <!-- <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" /> -->
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="boot.php/{R:1}" />
                </rule>
            </rules>
        </rewrite>
        <defaultDocument>
            <files>
                <clear />
                <add value="boot.php" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>