/*** FORM DTs ***/

dl.a-sets-group dt {
    display: block;
    height: 30px;
    line-height: 30px;
    font-size: 21px;
    font-size: 1.05rem;
    font-weight: lighter;
    cursor: default;
    margin: 15px 0px 5px;
    color: #000;
}

/* -------------------- */

dl.columns-by-channel dt {
    display: block;
    width: 580px;
    height: 50px;
    margin-top: 10px;
    background-color: #CCC;
    cursor: default;
}

dl.columns-by-channel dt span.column-channel-name {
    display: block;
    position: absolute;
    width: 250px;
    height: 20px;
    top: 5px;
    left: 10px;
    line-height: 20px;
    font-size: 18px;
    font-size: 0.9rem;
    color: #06C;
    text-align: left;
}

dl.columns-by-channel dt span.column-channel-lang {
    display: block;
    position: absolute;
    width: 250px;
    height: 20px;
    top: 25px;
    left: 10px;
    line-height: 20px;
    font-size: 12px;
    font-size: 0.6rem;
    color: #06C;
    text-align: left;
}

dl.columns-by-channel dt span.column-channel-brief {
    display: block;
    position: absolute;
    width: 300px;
    height: 40px;
    top: 5px;
    left: 270px;
    line-height: 20px;
    font-size: 12px;
    font-size: 0.6rem;
    color: #FFF;
    text-align: right;
}

/* -------------------- */

dl.routers-list dt {
    display: block;
    height: 30px;
    line-height: 30px;
    font-size: 21px;
    font-size: 1.05rem;
    font-weight: lighter;
    cursor: default;
    margin-top: 20px;
    color: #000;
}

/* -------------------- */

dl.a-app-suit dt {
    display: block;
    width: 730px;
    height: 30px;
    line-height: 30px;
    margin-top: 20px;
    border-bottom: 2px solid #0CF;
}

dl.a-app-suit dt {
    font-size: 21px;
    font-size: 1.05rem;
    color: #0CF;
    cursor: default;
}

/*** FORM DD/LIs ***/

dl.a-sets-group dd.display-only {
    display: block;
    height: auto;
    cursor: default;
}

dl.a-sets-group dd.display-only span.a-setting-version {
    line-height: 30px;
    color: #0CF;
    font-size: 14px;
    font-size: 0.7rem;
    font-weight: normal;
}

dl.a-sets-group dd.display-only span.a-setting-copyright {
    line-height: 30px;
    color: #0CF;
    font-size: 14px;
    font-size: 0.7rem;
    font-weight: normal;
}

dl.a-sets-group dd.display-only span.a-setting-key {
    float: left;
    width: 110px;
    line-height: 25px;
    color: #333;
    font-size: 14px;
    font-size: 0.7rem;
}

dl.a-sets-group dd.display-only span.a-setting-val {
    float: left;
    line-height: 25px;
    color: #666;
    font-size: 13px;
    font-size: 0.65rem;
}

dl.a-sets-group dd.display-only canvas {
    display: block;
    margin-bottom: 20px;
}

/* -------------------- */

dl.a-sets-group dd.display-only span.a-setting-val span {
    display: block;
}

dl.a-sets-group dd.display-only span.a-setting-val span.core-detail {
    line-height: 20px;
    font-size: 13px;
    font-size: 0.65rem;
    color: #0CF;
}

dl.a-sets-group dd.display-only span.a-setting-val span.core-detail:last-child {
    margin-bottom: 10px;
}

/* -------------------- */

dl.a-sets-group dd.setting-input {
    display: block;
    height: auto;
    cursor: default;
}

dl.a-sets-group dd.setting-input span.a-setting-key {
    display: block;
    line-height: 24px;
    color: #333;
    font-size: 14px;
    font-size: 0.7rem;
}

dl.a-sets-group dd.setting-input span.a-setting-val {
    display: block;
    width: 354px;
    height: 24px;
    padding: 3px;
    border: 2px #CCC solid;
    margin: 3px 0px 8px;
}

dl.a-sets-group dd.setting-input span.a-setting-val input {
    display: block;
    width: 354px;
    height: 24px;
    border: none;
    outline: none;
    line-height: 24px;
    background-color: transparent;
    color: #666666;
}

dl.a-sets-group dd.setting-input span.a-setting-val {
    display: block;
    width: 354px;
    height: 24px;
    padding: 3px;
    border: 2px #CCC solid;
    margin: 3px 0px 13px;
}

dl.a-sets-group dd.setting-input span.ten-sections-push input {
    display: none;
}