<!DOCTYPE html>
<html lang="{{$lang}}">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YangRAM Administration Backstage</title>
    <link rel="stylesheet" type="text/css" href="{{$__lib__}}Tangram/tangram.js/src/see/fa.css" />
    <link rel="stylesheet" type="text/css" href="{{$__lib__}}Tangram/tangram.js/src/see/see.css" />
    <link rel="stylesheet" type="text/css" href="{{$__lib__}}Tangram/tangram.js/src/Time/Picker/style.css" />
    <link rel="stylesheet" type="text/css" href="{{$__lib__}}Tangram/ai/css/action.css" />
    <link rel="stylesheet" type="text/css" href="{{$__lib__}}Tangram/ai/css/form.css" />

    <script charset="UTF-8" src="{{$__lib__}}Baidu/UEditor/ueditor.config.js"></script>
    <script charset="UTF-8" src="{{$__lib__}}Baidu/UEditor/ueditor.all.min.js"></script>
    <script charset="UTF-8" src="{{$__lib__}}Baidu/UEditor/lang/zh-CN/zh-CN.js"></script>

    <script charset="UTF-8" src="{{$__lib__}}Tangram/tangram.js/src/tangram.js" data-tangram-debug></script>
    <script charset="UTF-8" src="{{$__lib__}}Tangram/ai/js/action.js"></script>
    <script charset="UTF-8" src="{{$__lib__}}Tangram/ai/js/form.js"></script>
    <script charset="UTF-8" src="{{$__dir__}}js/pages.js"></script>
</head>

<body>
    <div class="action-container" data-apps-url="{{__aurl__}}">
        <header class="formname"><strong>{{$formname}}</strong>
            <if $formlinkname><span class="form-link"><a href="{{$formlinkhref}}" target="_blank">{{$formlinkname}}</a></span></if>
        </header>
        {{$form}}
    </div>
    <div class="action-buttons">
        <for $button of $buttons>
            <if $button>
                <if $button>
                    <button data-order="{{$button[`order`]}}" data-order-form="{{$button[`form`]}}" data-submit-href="{{$button[`action`]}}" data-success-href="{{$button[`href`]}}">{{$button[`name`]}}</button>
                </if>
            </if>
        </for>
    </div>
    <div class="action-timepicker">
        <div id="timepicker"></div>
    </div>

</body>

</html>