@charset "utf-8";

/*
 * Panel Position
 * 面板位置
 */

.tangram.slider .panel {
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 999;
    font-size: 0px;
    box-sizing: border-box;
}

.tangram.slider .panel.upon-remote {
    top: 0px;
    text-align: right;
}

.tangram.slider .panel.top-remote {
    top: 0px;
    text-align: right;
}

.tangram.slider .panel.middle-remote {
    top: 50%;
    margin-top: -50px;
    text-align: right;
}

.tangram.slider .panel.bottom-remote {
    bottom: 0px;
    text-align: right;
}

.tangram.slider .panel.under-remote {
    bottom: -30px;
    text-align: center;
}


/*
 * Buttons Position
 * 按钮位置
 */

.tangram.slider .panel.panel.al-left {
    left: 0;
    right: auto;
    text-align: left;
}

.tangram.slider .panel.panel.al-right {
    left: auto;
    right: 0;
    text-align: right;
}

.tangram.slider .panel.panel.al-center {
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}

.tangram.slider .panel.panel.al-just {
    left: 0;
    right: 0;
    text-align: justify;
}

.tangram.slider .panel.middle-remote.al-center,
.tangram.slider .panel.middle-remote.al-just {
    display: none!important;
}


/*
 * Buttons Style
 * 按钮样式
 */


/*---| 圆/点/圈 |---*/


/*- circles -*/

.tangram.slider .panel.circles {
    height: 40px;
}

.tangram.slider .panel.circles.al-left {
    padding-left: 10px;
}

.tangram.slider .panel.circles.al-right {
    padding-right: 10px;
}

.tangram.slider .panel.circles .slider-anchor {
    display: inline-block;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    margin: 8px 10px;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    opacity: .8;
}


/*- points -*/

.tangram.slider .panel.points {
    height: 30px;
}

.tangram.slider .panel.points.al-left {
    padding-left: 10px;
}

.tangram.slider .panel.points.al-right {
    padding-right: 10px;
}

.tangram.slider .panel.points .slider-anchor {
    display: inline-block;
    opacity: .8;
    box-sizing: border-box;
    width: 12px;
    height: 12px;
    margin: 9px 5px;
    border-radius: 6px;
    overflow: hidden;
    cursor: pointer;
}


/*- rings -*/

.tangram.slider .panel.rings {
    height: 40px;
}

.tangram.slider .panel.rings.al-left,
.tangram.slider .panel.rings-sm.al-left {
    padding-left: 10px;
}

.tangram.slider .panel.rings.al-right,
.tangram.slider .panel.rings-sm.al-right {
    padding-right: 10px;
}

.tangram.slider .panel.rings .slider-anchor,
.tangram.slider .panel.rings-sm .slider-anchor {
    display: inline-block;
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    margin: 10px 5px;
    border-style: solid;
    border-width: 2px;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
}


/*- small rings -*/

.tangram.slider .panel.rings-sm {
    height: 30px;
}

.tangram.slider .panel.rings-sm .slider-anchor {
    width: 10px;
    height: 10px;
    margin: 10px 5px;
    border-width: 1px;
    border-radius: 5px;
}


/*---| 方形 |---*/


/*- square -*/

.tangram.slider .panel.squares {
    height: 30px;
}

.tangram.slider .panel.squares.al-left,
.tangram.slider .panel.squares-rd.al-left {
    padding-left: 10px;
}

.tangram.slider .panel.squares.al-right,
.tangram.slider .panel.squares-rd.al-right {
    padding-right: 10px;
}

.tangram.slider .panel.squares .slider-anchor,
.tangram.slider .panel.squares-rd .slider-anchor {
    display: inline-block;
    width: 10px;
    height: 10px;
    overflow: hidden;
    cursor: pointer;
    margin: 10px 5px;
}


/*- rounded square -*/

.tangram.slider .panel.squares-rd {
    height: 40px;
}

.tangram.slider .panel.squares-rd .slider-anchor {
    width: 16px;
    height: 16px;
    margin: 12px 6px;
    border-radius: 3px;
}


/*- rectangles -*/

.tangram.slider .panel.rectangles {
    height: 30px;
}

.tangram.slider .panel.rectangles.al-left,
.tangram.slider .panel.rectangles-rd.al-left {
    padding-left: 10px;
}

.tangram.slider .panel.rectangles.al-right,
.tangram.slider .panel.rectangles-rd.al-right {
    padding-right: 10px;
}

.tangram.slider .panel.rectangles .slider-anchor,
.tangram.slider .panel.rectangles-rd .slider-anchor {
    display: inline-block;
    width: 16px;
    height: 10px;
    overflow: hidden;
    cursor: pointer;
    margin: 10px 6px;
}


/*- round rectangles -*/

.tangram.slider .panel.rectangles-rd .slider-anchor {
    border-radius: 3px;
}


/*---| 条状 |---*/


/*- bars -*/

.tangram.slider .panel.bars,
.tangram.slider .panel.bars-rd {
    height: 30px;
}

.tangram.slider .panel.bars.al-left,
.tangram.slider .panel.bars-rd.al-left {
    padding-left: 10px;
}

.tangram.slider .panel.bars.al-right,
.tangram.slider .panel.bars-rd.al-right {
    padding-right: 10px;
}

.tangram.slider .panel.bars .slider-anchor,
.tangram.slider .panel.bars-rd .slider-anchor {
    display: inline-block;
    width: 24px;
    height: 6px;
    overflow: hidden;
    cursor: pointer;
    margin: 12px 3px;
}


/*- rounded bars -*/

.tangram.slider .panel.bars-rd .slider-anchor {
    border-radius: 3px;
}


/*---| 线形 |---*/


/*- lines -*/

.tangram.slider .panel.lines,
.tangram.slider .panel.lines-wb {
    height: 30px;
}

.tangram.slider .panel.lines.al-left,
.tangram.slider .panel.lines-wb.al-left {
    padding-left: 10px;
}

.tangram.slider .panel.lines.al-right,
.tangram.slider .panel.lines-wb.al-right {
    padding-right: 10px;
}

.tangram.slider .panel.lines .slider-anchor,
.tangram.slider .panel.lines-wb .slider-anchor {
    display: inline-block;
    width: 50px;
    height: 1px;
    overflow: hidden;
    cursor: pointer;
    margin: 12px 5px;
}

.tangram.slider .panel.lines-wb .slider-anchor {
    border-style: solid;
    border-width: 1px;
}


/*- lines with border -*/

.tangram.slider .panel.lines-wb .slider-anchor.active {
    width: 48px;
    height: 1px;
}


/*---| 索引 |---*/


/*- context -*/


/*- thumbs -*/

.tangram.slider .panel.context,
.tangram.slider .panel.thumbs {
    width: 100%;
    height: 50px;
}

.tangram.slider .panel.thumbs {
    height: 80px;
    font-size: 0;
}

.tangram.slider .panel.context.middle-remote,
.tangram.slider .panel.thumbs.middle-remote {
    width: 200px;
    height: 100%;
    top: 0;
    margin-top: 0;
    box-sizing: content-box;
}

.tangram.slider .panel.thumbs.middle-remote {
    width: 160px;
}

.tangram.slider .panel.context .slider-anchor,
.tangram.slider .panel.thumbs .slider-anchor {
    display: inline-block;
    box-sizing: border-box;
    height: 50px;
    border-top: rgba(255, 255, 255, .5) solid 1px;
    border-right: rgba(255, 255, 255, .5) solid 1px;
    line-height: 50px;
    font-size: 14px;
    transition: background-color ease-in .3s;
    overflow: hidden;
    cursor: pointer;
}

.tangram.slider .panel.context.middle-remote .slider-anchor,
.tangram.slider .panel.thumbs.middle-remote .slider-anchor {
    width: 100%;
    height: auto;
    display: block;
}