.tangram.timepicker .pickers {
    display: block;
    position: absolute;
    width: 1000px;
    height: 120px;
    top: 170px;
    left: 0;
}

.tangram.timepicker .pickers section {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 200%;
    left: 0;
    opacity: 0;
    z-index: -99;
}

.tangram.timepicker .pickers section.actived {
    opacity: 1;
    top: 0;
    z-index: 99;
    transition: opacity ease-in .3s;
}

.tangram.timepicker .pickers ul,
.tangram.timepicker .pickers ul li {
    display: block;
}

/**********************************************/

.tangram.timepicker .pickers section ul li {
    float: left;
    height: 26px;
    margin: 2px;
    line-height: 26px;
    background-color: rgba(102, 204, 255, .8);
    text-align: center;
    color: #fff;
    font-size: 14px;
    font-size: 0.7rem;
    cursor: pointer;
}

.tangram.timepicker .pickers section ul li.leap,
.tangram.timepicker .pickers section ul li.autumn,
.tangram.timepicker .pickers section ul li.weekend,
.tangram.timepicker .pickers section ul li.am {
    background-color: rgba(255, 204, 102, 0.8);
}

.tangram.timepicker .pickers section ul li.summer,
.tangram.timepicker .pickers section ul li.int,
.tangram.timepicker .pickers section ul li.am.int {
    background-color: rgba(255, 102, 102, 0.8);
}

.tangram.timepicker .pickers section ul li.spring {
    background-color: rgba(102, 255, 102, 0.8);
}

.tangram.timepicker .pickers section ul li.winter {
    background-color: rgba(255, 255, 255, 0.8);
    color: #666;
}

.tangram.timepicker .pickers section ul li.pm {
    background-color: rgba(53, 53, 53, 0.8);
}

.tangram.timepicker .pickers section ul li.pm.int {
    background-color: rgba(153, 53, 53, 0.8);
}

.tangram.timepicker .pickers section ul li.selected {
    background-color: rgba(255, 51, 102, 1) !important;
    color: #fff !important;
}

.tangram.timepicker .pickers section ul li:hover {
    background-color: rgba(255, 51, 102, .8) !important;
    color: #fff !important;
}

.tangram.timepicker .pickers section ul li.head,
.tangram.timepicker .pickers section ul li.head:hover {
    background-color: transparent !important;
    color: #666 !important;
    font-size: 12px !important;
    font-size: 0.6rem !important;
    cursor: default;
}

.tangram.timepicker .pickers section ul li.placeholder,
.tangram.timepicker .pickers section ul li.placeholder:hover {
    background-color: rgba(153, 153, 153, 0.5) !important;
    cursor: default;
}

/**********************************************/

.tangram.timepicker .pickers section ul {
    display: block;
    width: 960px;
    margin: 0 auto;
}

.tangram.timepicker .pickers section[data-type=dates] ul,
.tangram.timepicker .pickers section[data-type=days] ul {
    width: 980px;
    margin: 0 auto;
}

/**********************************************/

.tangram.timepicker .pickers section[data-type=years] ul li {
    width: 56px;
}

.tangram.timepicker .pickers section[data-type=years] ul li.prev,
.tangram.timepicker .pickers section[data-type=years] ul li.next {
    width: 116px;
    background-color: rgba(153, 153, 153, 0.8);
}

.tangram.timepicker .pickers section[data-type=months] ul li {
    width: 76px;
    height: 76px;
    margin: 22px 2px;
    line-height: 76px;
    font-size: 30px;
    font-size: 1.5rem;
}

.tangram.timepicker .pickers section[data-type=dates] ul li {
    width: 56px;
    margin: 2px 7px;
    font-size: 18px;
    font-size: 0.9rem;
}

.tangram.timepicker .pickers section[data-type=hours] ul li {
    width: 76px;
    height: 56px;
    line-height: 56px;
    font-size: 30px;
    font-size: 1.5rem;
}

.tangram.timepicker .pickers section[data-type=minutes] ul li {
    width: 60px;
}

.tangram.timepicker .pickers section[data-type=days] ul li {
    width: 116px;
    height: 116px;
    margin: 2px 12px;
    line-height: 116px;
    font-size: 36px;
    font-size: 1.8rem;
}

.tangram.timepicker .pickers ul li i.bctag {
    display: block;
    position: absolute;
    top: -5px;
    right: -8px;
    width: 32px;
    height: 20px;
    background-color: rgba(255, 51, 102, .6);
    transform: scale(.5, .5);
    opacity: .5;
}

.tangram.timepicker .pickers ul li i.bctag::before {
    display: block;
    width: 36px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 18px;
    font-size: 0.9rem;
    content: 'BC';
}