<!DOCTYPE html>
<html lang="{{$lang}}">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YangRAM Administration Backstage</title>
    <!-- <link rel="stylesheet" type="text/css" href="{{$__lib__}}Tangram/tanguage/lib/dist/see/fa.css" />
    <link rel="stylesheet" type="text/css" href="{{$__lib__}}Tangram/tanguage/lib/dist/see/see.css" />
    <link rel="stylesheet" type="text/css" href="{{$__lib__}}Tangram/tanguage/lib/dist/app/TimePicker/style.css" /> -->
    <link rel="stylesheet" type="text/css" href="{{$__lib__}}Tangram/ai/css/action.css" />
    <link rel="stylesheet" type="text/css" href="{{$__dir__}}css/form.css" />
    <!-- <link rel="stylesheet" type="text/css" href="{{$__lib__}}Tangram/tanguage/lib/dist/form/style.css" /> -->
    <link rel="stylesheet" type="text/css" href="{{$__lib__}}CodeMirror/lib/codemirror.css">
    <!-- <link rel="stylesheet" type="text/css" href="{{$__lib__}}CodeMirror/theme/blackboard.css"> -->

    <script charset="UTF-8" src="{{$__lib__}}CodeMirror/lib/codemirror.js"></script>
    <script charset="UTF-8" src="{{$__lib__}}CodeMirror/mode/css/css.js"></script>
    <script charset="UTF-8" src="{{$__lib__}}CodeMirror/mode/javascript/javascript.js"></script>
    <script charset="UTF-8" src="{{$__lib__}}CodeMirror/mode/htmlmixed/htmlmixed.js"></script>

    <script charset="UTF-8" src="{{$__lib__}}Tangram/tanguage/lib/dist/runtime.js" data-tang-debug></script>
    <script charset="UTF-8" src="{{$__lib__}}Tangram/ai/js/action.js"></script>
    <script charset="UTF-8" src="{{$__dir__}}js/form.js"></script>
    <script charset="UTF-8" src="{{$__dir__}}js/pages.js"></script>
</head>

<body>
    <div class="ide-container" data-apps-url="{{__aurl__}}">
        {{$form}}
    </div>
    <div class="action-buttons">
        <for $button of $buttons>
            <if $button>
                <if $button>
                    <button data-order="{{$button[`order`]}}" data-order-form="{{$button[`form`]}}" data-submit-href="{{$button[`action`]}}" data-success-href="{{$button[`href`]}}">{{$button[`name`]}}</button>
                </if>
            </if>
        </for>
    </div>
</body>

</html>