/*********************************************************************************
/*** EDITOR TOOLBAR ***/

.tangram.se-toolbar {
    width: 100%;
    background-color: #FDFDFE;
    // border-bottom: 1px solid #DDD;
    overflow: visible;
    font-size: 0;
    line-height: 0;
    z-index: 1024;
    .tangram.se-toolgroup {
        display: inline-block;
        border-left: 1px solid #DDD;
        overflow: visible;
    }
    .tangram.se-toolgroup:first-child {
        border-left: none;
    }
    .tangram.se-tool {
        float: left;
        width: auto;
        min-width: 30px;
        height: 30px;
        line-height: 30px;
        color: #444;
        font-size: 14px;
        text-align: center;
        cursor: pointer;
        overflow: hidden;
    }
    .tangram.se-clear {
        clear: both;
    }
    .tangram.se-tool:hover {
        background-color: #09C;
        color: #FFF;
    }
    .tangram.se-tool.active {
        background-color: #09C;
        color: #FFF;
    }
    .tangram.se-tool.invalid {
        background-color: transparent;
        color: #AAA;
        cursor: default;
    }
    .tangram.se-tool.invalid:hover {
        background-color: transparent;
        color: #AAA;
    }
    /*** EDITOR TOOLBAR CHARACTER ***********************/
    .tangram.se-tool.separator {
        min-width: 10px;
        color: #E6E6E6;
        cursor: default;
    }
    .tangram.se-tool.separator:before {
        content: '|';
    }
    .tangram.se-tool.separator:hover {
        background-color: transparent;
        color: #E6E6E6;
    }
    .tangram.se-tool.linebreak {
        width: 100%;
        height: 1px;
        background-color: #E6E6E6;
        margin: 0px;
    }
    .tangram.se-tool.linebreak:hover {
        background-color: #E6E6E6;
    }
    @import "toolbar-icons";
    @import "toolbar-pickers";
    @import "toolbar-dialogs";
}